# FixedCoin Solo
FIX_RPCUSER=fixrpc
FIX_RPCPASS=CHANGE_THIS_TO_A_LONG_RANDOM_PASSWORD
# Optional. Leave empty to auto-create a mining wallet address.
FIX_PAYOUT_ADDRESS=
FIX_RPCPORT=24761
FIX_P2PPORT=24768
FIX_DASH_PORT=5050
COINBASE_MATURITY=100
